POSTGRES_DB=nutrevia
POSTGRES_USER=nutrevia
POSTGRES_PASSWORD=nutrevia_dev

DATABASE_URL=postgresql+psycopg://nutrevia:nutrevia_dev@database:5432/nutrevia


JWT_SECRET_KEY=replace_with_a_secure_random_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60